@model BlogTGP.Models.Post

@{
    ViewBag.Title = "Post";
}

<style>
    .full_post_img {
        max-width: 1140px;
        max-height: 480px;
    }
</style>

<!--main navigation end-->
<div style="height: 20px"></div>


<div class="container text-center">
    <a href="#">
        <img src="~/images/timbo-logo.png" />
    </a>
</div>


<hr>
<div class="space-40"></div>
<div class="container">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10 full-width-post">
            <div class="post margin-b-40">
                <div class="post-header text-center">
                    <span class="tag"><a href="#"><i class="fa fa-tag"></i> @Html.Raw(Model.Category)</a></span>
                    <!--<h3 class="post-title"><a href="#">Lorem ipsum cogarts elit down</a></h3>-->
                    @*<h3 class="post-title"><a href="#">Lorem ipsum cogarts elit down</a></h3>*@
                    <h3 class="post-title">
                        @Html.DisplayFor(model => model.Title)
                    </h3>
                    <span class="date">
                        @*8 Nov. 2015 @Html.DisplayFor(model => model.Created)*@
                        @Html.Raw(Model.Created.DateTime.ToLongDateString())
                    </span>
                </div><!--post header-->
                <div class="post-img">
                    <a href="#">
                        <div class="flexslider thumb-slider">
                            <ul class="slides">
                                <li>
                                    <img src="@Model.MediaURL" alt="Graphic for Post"
                                         class="img-responsive full-post-img" />
                                </li>
                                @*<li><img src="~/images/MilosRaonic.jpg" alt="Raonic"
                                    class="img-responsive full-post-img" /></li>*@
                                <li>
                                    <img src="~/images/richard-gasquet-topspin-backhand-grip.jpg" alt="Gasquet"
                                         class="img-responsive full-post-img" />
                                </li>
                                <li>
                                    <img src="~/images/roger-federer-768x480.jpg" alt="Federer"
                                         class="img-responsive full-post-img" />
                                </li>

                                @*<li><img src="~/images/tennisBlue.jpg" alt="" class="img-responsive" /></li>
                                    <li><img src="~/images/tForever.jpg" alt="" class="img-responsive" /></li>*@
                            </ul>
                        </div>
                    </a>
                </div><!--post img-->
                <div class="post-entry">

                    @Html.Raw(Model.Body);
                    @*<blockquote><p>
                                Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito delle variazioni del tempo, a causa dell’inserimento di passaggi ironici, o di sequenze casuali di caratteri palesemente poco verosimili. Se si decide di utilizzare un passaggio del Lorem Ipsum, è bene essere certi che non contenga nulla di imbarazzante.
                        </p></blockquote>*@
                </div><!--post entry-->

                <div class="post-meta">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="comments"><a href="#"><i class="fa fa-comments"></i> 4 Comments</a></span>
                        </div>
                        <div class="col-sm-6 text-right">
                            @*<ul class="socials list-inline clearfix">
                                    <li><span>Share:</span></li>
                                    <li>
                                        <a href="#" class="social-icon-sm si-gray si-gray-round si-facebook">
                                            <i class="fa fa-facebook"></i>
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-icon-sm si-gray si-gray-round si-twitter">
                                            <i class="fa fa-twitter"></i>
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-icon-sm si-gray si-gray-round si-g-plus">
                                            <i class="fa fa-google-plus"></i>
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-icon-sm si-gray si-gray-round si-pinterest">
                                            <i class="fa fa-pinterest"></i>
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-icon-sm si-gray si-gray-round si-instagram">
                                            <i class="fa fa-instagram"></i>
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>*@
                        </div>
                    </div>
                </div><!--post meta-->
            </div><!--post end-->
            <!--about-author-->
            <div class="media about-author">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" src="~/images/TimboCartoon.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Timbo</h4>
                    <p>
                        Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito delle variazioni del tempo, a causa dell’inserimento di passaggi ironici, o di sequenze casuali di caratteri palesemente poco verosimili.
                        <ul class="socials list-inline clearfix">

                            <li>
                                <a href="#" class="social-icon-sm si-border-round si-gray-round si-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            @*<li>
                                    <a href="#" class="social-icon-sm si-border-round si-gray-round si-twitter">
                                        <i class="fa fa-twitter"></i>
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>*@
                            <li>
                                <a href="#" class="social-icon-sm si-border-round si-gray-round si-g-plus">
                                    <i class="fa fa-google-plus"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            @*<li>
                                    <a href="#" class="social-icon-sm si-border-round si-gray-round si-pinterest">
                                        <i class="fa fa-pinterest"></i>
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon-sm si-border-round si-gray-round si-instagram">
                                        <i class="fa fa-instagram"></i>
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>*@
                        </ul>

                </div>
            </div>
            <!--about author end-->

            <div class="space-30"></div>
            <hr>
            <!--comments-->
            <h5 class="margin-b-30">4 Comments</h5>
            <div class="media comments">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" width="60" src="~/images/CAP.jpg" alt="Timbo">
                    </a>

                </div>
                <div class="media-body">
                    <h4 class="media-heading">Amanda</h4>
                    <p>
                        Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito delle variazioni del tempo, a causa dell’inserimento di passaggi ironici.
                    </p>
                    <a href="#">Comment</a>
                </div>
            </div>
            <div class="media comments">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" width="60" src="~/images/me.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Enrico</h4>
                    <p>
                        Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito delle variazioni del tempo, a causa dell’inserimento di passaggi ironici.
                    </p>
                    <a href="#">Comment</a>
                </div>
            </div>
            <div class="media comments">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" width="60" src="~/images/me-2.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Chuck</h4>
                    <p>
                        Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito delle variazioni del tempo, a causa dell’inserimento di passaggi ironici.
                    </p>
                    <a href="#">Comment</a>
                </div>
            </div>
            <div class="media comments">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" width="60" src="~/images/me-2.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Sally</h4>
                    <p>
                        Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito delle variazioni del tempo, a causa dell’inserimento di passaggi ironici.
                    </p>
                    <a href="#">Comment</a>
                </div>
            </div>
            <!--comments-end-->

            <div class="space-60"></div>
            @if (User.Identity.IsAuthenticated)
            {
                <h5 class="margin-b-30">Leave a Comment</h5>
                <form class="form-horizontal comment-form">
                    <div class="form-group">
                        <label for="name1" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email1" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email1" class="col-sm-2 control-label">Comment</label>
                        <div class="col-sm-10 col-sm-offset-2">
                            <textarea class="form-control" rows="3" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-dark btn-lg">Submit</button>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <h5 class="margin-b-30">To a Comment, please login</h5>
            }
            <div class="space-80"></div>

        </div>

        <div class="col-md-1">
            @*<aside class="sidebar">
                                <div class="widget">
                                    <form class="search-widget">
                                        <input type="text" class="form-control" placeholder="Tpye ans hit enter">
                                        <button type="button"> <i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="widget text-center">
                                    <h3 class="widget-title">About Me</h3>
                                    <img src="images/me.jpg" alt="" class="img-circle">
                                    <div class="space-20"></div>
                                    <p>
                                        Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus
                                    </p>
                                    <a href="#">Read More</a>
                                </div><!--widget-->
                                <div class="widget text-center">
                                    <h3 class="widget-title">Find us On Facebook</h3>
                                    <div id="fb-root"></div>
                                    <script>
                (function (d, s, id) {
                                                    var js, fjs = d.getElementsByTagName(s)[0];
                                                    if (d.getElementById(id))
                                                        return;
                                                    js = d.createElement(s);
                                                    js.id = id;
                                                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                                                    fjs.parentNode.insertBefore(js, fjs);
                                                }(document, 'script', 'facebook-jssdk'));</script>
                                    <div class="fb-page" data-href="https://web.facebook.com/rakeshdesigns/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://web.facebook.com/rakeshdesigns/"><a href="https://web.facebook.com/rakeshdesigns/">Design_mylife</a></blockquote></div></div>
                                </div><!--widget-->
                                <div class="widget">
                                    <h3 class="widget-title">Popular Post</h3>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="images/img-12.jpg" width="70" alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Photo booth anim 8-bit hella</a></h4>
                                            <span class="date">8 Dec, 2015</span>
                                        </div>
                                    </div><!--media-->
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="images/img-11.jpg" width="70" alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Photo booth anim 8-bit hella</a></h4>
                                            <span class="date">8 Dec, 2015</span>
                                        </div>
                                    </div><!--media-->
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="images/img-10.jpg" width="70" alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Photo booth anim 8-bit hella</a></h4>
                                            <span class="date">8 Dec, 2015</span>
                                        </div>
                                    </div><!--media-->
                                </div><!--widget-->
                                <div class="widget">
                                    <h3 class="widget-title">Categories</h3>
                                    <ul class="list-unstyled category-list">
                                        <li><a href="#">Fashion (3)</a></li>
                                        <li><a href="#">Lifestyle (2)</a></li>
                                        <li><a href="#">travel (5)</a></li>
                                        <li><a href="#">Bootstrap (4)</a></li>
                                        <li><a href="#">Sports (6)</a></li>
                                    </ul>
                                </div><!--widget-->
                                <div class="widget">
                                    <h3 class="widget-title">Social</h3>
                                    <div class="socials clearfix">
                                        <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
                                            <i class="fa fa-facebook"></i>
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-dark si-gray-round si-colored-twitter">
                                            <i class="fa fa-twitter"></i>
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-dark si-gray-round si-colored-instagram">
                                            <i class="fa fa-instagram"></i>
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a href="#" class="social-icon si-dark si-gray-round si-colored-linkedin">
                                            <i class="fa fa-linkedin"></i>
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#" class="social-icon si-dark si-gray-round si-colored-pinterest">
                                            <i class="fa fa-pinterest"></i>
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div><!--socials-->
                                </div><!--widget-->
                                <div class="widget">
                                    <h3 class="widget-title">Instagram</h3>
                                    <div class="instagram-list clearfix">
                                        <a href="#">
                                            <img src="images/tennisBlue.jpg" alt="" class="img-responsive" />
                                        </a>
                                        <a href="#">
                                            <img src="images/FrenchOpen.jpg" alt="" class="img-responsive" />
                                        </a>
                                        <a href="#">
                                            <img src="images/MilosRaonic.jpg" alt="" class="img-responsive" />
                                        </a>
                                        <a href="#">
                                            <img src="images/QatarOpen.jpg" alt="" class="img-responsive" />
                                        </a>
                                        <a href="#">

                                            <img src="images/tForever.jpg" alt="" class="img-responsive" />
                                        </a>
                                        <a href="#">
                                            <img src="images/conwaytennisuk.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div><!--widget-->
                                <div class="widget">
                                    <h3 class="widget-title">Tag cloud</h3>
                                    <ul class="list-inline tag-list">
                                        <li><a href="#">Fashion </a></li>
                                        <li><a href="#">Lifestyle </a></li>
                                        <li><a href="#">travel </a></li>
                                        <li><a href="#">Bootstrap </a></li>
                                        <li><a href="#">Sports </a></li>
                                    </ul>
                                </div>
                            </aside>*@  <!--sidebar-->
        </div><!--sidebar col-->
    </div>
</div>


<!--js plugins-->
</body>
</html>


